{
    // "extends": "airbnb",
    // "extends": "eslint:recommended",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "env": {
        "node": true,
        "es6": true
    },
    "rules": {
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "no-cond-assign": ["error", "always"],
        "no-console": 2,
        "indent": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": [4, "tab"],
        "comma-dangle": ["error", "never"],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/prefer-stateless-function": [0]
    },
    "parserOptions": {
        "sourceType": "module"
    }
}